<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>R6S Tracker</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
