* {
  padding: 0;
  margin: 0;
}

#pageTitle {
  font-size: 3em;
  color: red;
  margin: 20px;
  text-align: center;
}

#mainContent {
  text-align: center;
}

.month h2 {
  font-size: 2em;
  margin-left: 40px;
  line-height: 75px;
}

.month {
  width: 75%;
  background-color: #EEEEEE;
  height: 75px;
  margin: auto;
  border-bottom: 1px solid black;
}

.month:hover {
  cursor: pointer;
}

#sidebar {
  display: inline-block;
  float: right;
  position: relative;
  width: 10%;
}

.operators {
  width: 49%;
  height: 800px;
}

.operators h2 {
  font-size: 2em;
  margin-top: 20px;
}

#attackers {
  display: inline-block;
  background-color: red;
}

#defenders {
  display: inline-block;
  background-color: blue;
}

.opIcons {
  width: 90%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.opIcons td {
  background-color: black;
}

.opIcon {
  width: 162.4px;
  height: 142px;
}
