<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>R6S Cosmetic Tracker</title>
    <meta charset="utf-8">
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
		<link rel="shortcut icon" href="/assets/images/favicon.ico"/>
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/homeStyle.css">
    <link rel="stylesheet" href="/assets/css/addEntryStyle.css">
  </head>
  <body>
		<div id="logout">
			<a id="upgradeAccount" href="#" title="Upgrade Account"><img id="upgradeIcon" src="/assets/images/icons/banknotes-32.png" alt="upgrade account"/></a>
			<a id="changePassword" href="#" title="Change Password"><img id="changePassIcon" src="/assets/images/icons/gear-32.png" alt="change password"/></a>
			<a href="/logout" title="Logout"><img id="logoutIcon" src="/assets/images/icons/logout-32.png" alt="logout"/></a>
		</div>
    <h1 id="pageTitle">Rainbow<span class="siegeLogo">Six</span> Siege Cosmetics<span class="siegeLogo">Tracker</span></h1>
    <nav>
    </nav>
    <div id="mainContent">
    </div>
    <div id="operatorContent">
    </div>
		<!-- Form serialization without jQuery https://code.google.com/archive/p/form-serialize/ -->
    <script src="/assets/js/libraries/serialize-0.2.min.js"></script>
    <script src="/assets/babel/trackerBundle.js"></script>
  </body>
</html>
