<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>R6S Cosmetic Tracker</title>
    <meta charset="utf-8">
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <link rel="stylesheet" href="/assets/css/homeStyle.css">
    <link rel="stylesheet" href="/assets/css/addEntryStyle.css">
  </head>
  <body>
		<div id="logout">
			<a href="/logout" title="Logout"><img id="logoutIcon" src="/assets/images/logout-32.png" alt="logout"/></a>
		</div>
    <h1 id="pageTitle">Rainbow<span class="siegeLogo">Six</span> Siege Cosmetics<span class="siegeLogo">Tracker</span></h1>
    <nav>
    </nav>
    <div id="mainContent">
    </div>
    <div id="operatorContent">
    </div>
    <script src="/assets/babel/trackerBundle.js"></script>
  </body>
</html>
